---
interface Props {
  backgroundColor: string;
}

const { backgroundColor } = Astro.props;
---

<button
  style={{ backgroundColor }}
  class="bounce font-medium px-5 py-3.5 shadow-[5px_5px_0px_rgba(0,0,0,1)] hover:shadow-none transition-shadow duration-300 ease-in-out"
>
  <slot />
</button>
