---
import PageLink from "./PageLink.astro";
import ProjectCard from "./ProjectCard.astro";
import projects from "../data/projects.json";
---

<div class="py-16 md:py-20 px-5 md:px-0 border-b-2 border-black bg-[var(--surface-1)]">
  <div class="mx-auto container text-center">
    <h1 class="heading font-black text-4xl mb-10 text-[var(--clr-fg-dark)]">Some of my works</h1>

    <div
      class="grid md:grid-cols-3 mb-10 shadow-[5px_5px_0px_rgba(0,0,0,1)]"
      data-aos="fade-right"
    >
      {
        projects
          .filter((project) => !!project.isFeatured)
          .map((project) => (
            <span>
              <ProjectCard data={project} />
            </span>
          ))
      }
    </div>

    <span data-aos="fade-right">
      <PageLink href="/projects" title="See more projects" />
    </span>
  </div>
</div>
