---
import NavLink from "./nav-link.astro";
import navLinks from "../data/nav-links.json";
---

<header class="border-b-2 border-black py-5">
  <div class="container flex justify-between items-center">
    <a href="/" class="font-bold heading text-xl text-[var(--text-primary)]"
      >husnulaman</a
    >
    <div
      class="flex gap-5 uppercase text-sm font-semibold items-center text-[var(--text-primary)]"
    >
      {
        Object.entries(navLinks).map(([title, href]) => (
          <NavLink
            href={href}
            title={title}
            isActive={Astro.url.pathname === href}
          />
        ))
      }
    </div>
  </div>
</header>
