---
import ArticleCard from "./article-card.astro";
import PageLink from "./PageLink.astro";
import { getCollection } from "astro:content";

const recentPosts = await getCollection("blog", (post) => post.data.date).then(
  (posts) => posts.slice(0, 3)
);
---

<div class="py-16 md:py-20 px-5 md:px-0 border-b-2 border-black bg-[#D1C1EA]">
  <div class="mx-auto container text-center">
    <h1 class="heading font-black text-4xl mb-10 text-center">
      Latest Articles
    </h1>

    <div class="grid md:grid-cols-3 gap-5 mb-10">
      {
        recentPosts.map((post) => (
          <a href={"/blog/" + post.slug}>
            <ArticleCard
              category={post.data.category}
              title={post.data.title}
              description={post.data.excerpt}
              date={post.data.date.toDateString()}
              backgroundColor={post.data.card_color || "#A5B4FB"}
            />
          </a>
        ))
      }
    </div>

    <PageLink href="/blog" title="Read more articles" />
  </div>
</div>
