---
export interface Props {
  href: string;
  title: string;
  isActive?: boolean;
}

const { href, title, isActive } = Astro.props;
---

<a
  class:list={[{ active: isActive }]}
  class="animated-link font-semibold text-sm tracking-wide text-[var(--clr-fg-dark)]"
  href={href}
>
  {title}
</a>
