---
export interface Props {
  href: string;
  title: string;
}

const { href, title } = Astro.props;
---

<a class="animated-link font-semibold text-sm tracking-wide uppercase text-[var(--clr-fg-dark)]" href={href}>{title}</a>
