---
import ProjectCard from "./ProjectCard.astro";
---

<div class="px-10 py-20">
  <div class="mx-auto">
    <h1 class="heading font-black text-5xl mb-10 text-center">Projects</h1>
    <div class="grid grid-cols-4 gap-5">
      <ProjectCard
        title="Chat App"
        description="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem doloremque vitae minima"
        backgroundColor="hsl(156,72%,67%)"
      />
      <ProjectCard
        title="Qwitter, a Twitter clone"
        description="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem doloremque vitae minima"
        backgroundColor="hsl(286,72%,67%)"
      />
      <ProjectCard
        title="KQuiz App"
        description="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem doloremque vitae minima"
        backgroundColor="hsl(56,72%,67%)"
      />
      <ProjectCard
        title="Covid-19 Tracker"
        description="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem doloremque vitae minima"
        backgroundColor="hsl(200,72%,67%)"
      />
    </div>
  </div>
</div>
