---

---

<button
  class="bounce border bg-white border-black font-medium px-3 py-0.5 text-sm shadow-[3px_3px_0px_rgba(0,0,0,1)] hover:shadow-none transition-shadow duration-300 ease-in-out"
>
  <slot />
</button>
