---
import ExternalBaseLink from "./ExternalBaseLink.astro";

export interface Props {
  href: string;
  title: string;
}

const { href, title } = Astro.props;
---

<li>
  <ExternalBaseLink href={href}>
    <p
      class="text-sm animated-link uppercase font-semibold tracking-wide"
    >
      {title}
    </p>
  </ExternalBaseLink>
</li>
