<div
  class="relative w-full overflow-hidden bg-neutral-200"
  style="height:600px"
>
  <div
    class="absolute left-1/2 top-1/2 cursor-pointer border-black p-8 text-black transition-colors duration-500 z-0 bg-white"
    style="border-width: 2px; clip-path: polygon(50px 0%, calc(100% - 50px) 0%, 100% 50px, 100% 100%, calc(100% - 50px) 100%, 50px 100%, 0px 100%, 0px 0px); width: 365px; height: 365px; box-shadow: black 0px 0px 0px 0px; transform: translateX(calc(-50% - 1460px)) translateY(calc(-50% - 15px)) rotate(-2.5deg) translateZ(0px);"
  >
    <span
      class="absolute block origin-top-right rotate-45 bg-black object-cover"
      style="right: -2px; top: 48px; width: 70.7107px; height: 2px;"></span><img
      src="/imgs/head-shots/1.jpg"
      alt="Testimonial image for Alex, CEO at COMPANY"
      class="mb-4 h-14 w-12 bg-neutral-600 object-cover object-top"
      style="box-shadow: white 3px 3px 0px;"
    /><h3 class="text-base sm:text-xl text-black">
      "My favorite solution in the market. We work 5x faster with COMPANY."
    </h3><p
      class="absolute bottom-8 left-8 right-8 mt-2 text-sm italic text-neutral-700"
    >
      - Alex, CEO at COMPANY
    </p>
  </div><div
    class="absolute left-1/2 top-1/2 cursor-pointer border-black p-8 text-black transition-colors duration-500 z-0 bg-white"
    style="border-width: 2px; clip-path: polygon(50px 0%, calc(100% - 50px) 0%, 100% 50px, 100% 100%, calc(100% - 50px) 100%, 50px 100%, 0px 100%, 0px 0px); width: 365px; height: 365px; box-shadow: black 0px 0px 0px 0px; transform: translateX(calc(-50% - 1216.67px)) translateY(calc(-50% + 15px)) rotate(2.5deg) translateZ(0px);"
  >
    <span
      class="absolute block origin-top-right rotate-45 bg-black object-cover"
      style="right: -2px; top: 48px; width: 70.7107px; height: 2px;"></span><img
      src="/imgs/head-shots/2.jpg"
      alt="Testimonial image for Dan, CEO at COMPANY"
      class="mb-4 h-14 w-12 bg-neutral-600 object-cover object-top"
      style="box-shadow: white 3px 3px 0px;"
    /><h3 class="text-base sm:text-xl text-black">
      "I'm confident my data is safe with COMPANY. I can't say that about other
      providers."
    </h3><p
      class="absolute bottom-8 left-8 right-8 mt-2 text-sm italic text-neutral-700"
    >
      - Dan, CEO at COMPANY
    </p>
  </div><div
    class="absolute left-1/2 top-1/2 cursor-pointer border-black p-8 text-black transition-colors duration-500 z-0 bg-white"
    style="border-width: 2px; clip-path: polygon(50px 0%, calc(100% - 50px) 0%, 100% 50px, 100% 100%, calc(100% - 50px) 100%, 50px 100%, 0px 100%, 0px 0px); width: 365px; height: 365px; box-shadow: black 0px 0px 0px 0px; transform: translateX(calc(-50% - 973.333px)) translateY(calc(-50% - 15px)) rotate(-2.5deg) translateZ(0px);"
  >
    <span
      class="absolute block origin-top-right rotate-45 bg-black object-cover"
      style="right: -2px; top: 48px; width: 70.7107px; height: 2px;"></span><img
      src="/imgs/head-shots/3.jpg"
      alt="Testimonial image for Stephanie, CEO at COMPANY"
      class="mb-4 h-14 w-12 bg-neutral-600 object-cover object-top"
      style="box-shadow: white 3px 3px 0px;"
    /><h3 class="text-base sm:text-xl text-black">
      "I know it's cliche, but we were lost before we found COMPANY. Can't thank
      you guys enough!"
    </h3><p
      class="absolute bottom-8 left-8 right-8 mt-2 text-sm italic text-neutral-700"
    >
      - Stephanie, CEO at COMPANY
    </p>
  </div><div
    class="absolute left-1/2 top-1/2 cursor-pointer border-black p-8 text-black transition-colors duration-500 z-0 bg-white"
    style="border-width: 2px; clip-path: polygon(50px 0%, calc(100% - 50px) 0%, 100% 50px, 100% 100%, calc(100% - 50px) 100%, 50px 100%, 0px 100%, 0px 0px); width: 365px; height: 365px; box-shadow: black 0px 0px 0px 0px; transform: translateX(calc(-50% - 730px)) translateY(calc(-50% + 15px)) rotate(2.5deg) translateZ(0px);"
  >
    <span
      class="absolute block origin-top-right rotate-45 bg-black object-cover"
      style="right: -2px; top: 48px; width: 70.7107px; height: 2px;"></span><img
      src="/imgs/head-shots/4.jpg"
      alt="Testimonial image for Marie, CEO at COMPANY"
      class="mb-4 h-14 w-12 bg-neutral-600 object-cover object-top"
      style="box-shadow: white 3px 3px 0px;"
    /><h3 class="text-base sm:text-xl text-black">
      "COMPANY's products make planning for the future seamless. Can't recommend
      them enough!"
    </h3><p
      class="absolute bottom-8 left-8 right-8 mt-2 text-sm italic text-neutral-700"
    >
      - Marie, CEO at COMPANY
    </p>
  </div><div
    class="absolute left-1/2 top-1/2 cursor-pointer border-black p-8 text-black transition-colors duration-500 z-0 bg-white"
    style="border-width: 2px; clip-path: polygon(50px 0%, calc(100% - 50px) 0%, 100% 50px, 100% 100%, calc(100% - 50px) 100%, 50px 100%, 0px 100%, 0px 0px); width: 365px; height: 365px; box-shadow: black 0px 0px 0px 0px; transform: translateX(calc(-50% - 486.667px)) translateY(calc(-50% - 15px)) rotate(-2.5deg) translateZ(0px);"
  >
    <span
      class="absolute block origin-top-right rotate-45 bg-black object-cover"
      style="right: -2px; top: 48px; width: 70.7107px; height: 2px;"></span><img
      src="/imgs/head-shots/5.jpg"
      alt="Testimonial image for Andre, CEO at COMPANY"
      class="mb-4 h-14 w-12 bg-neutral-600 object-cover object-top"
      style="box-shadow: white 3px 3px 0px;"
    /><h3 class="text-base sm:text-xl text-black">
      "If I could give 11 stars, I'd give 12."
    </h3><p
      class="absolute bottom-8 left-8 right-8 mt-2 text-sm italic text-neutral-700"
    >
      - Andre, CEO at COMPANY
    </p>
  </div><div
    class="absolute left-1/2 top-1/2 cursor-pointer border-black p-8 text-black transition-colors duration-500 z-0 bg-white"
    style="border-width: 2px; clip-path: polygon(50px 0%, calc(100% - 50px) 0%, 100% 50px, 100% 100%, calc(100% - 50px) 100%, 50px 100%, 0px 100%, 0px 0px); width: 365px; height: 365px; box-shadow: black 0px 0px 0px 0px; transform: translateX(calc(-50% - 243.333px)) translateY(calc(-50% + 15px)) rotate(2.5deg) translateZ(0px);"
  >
    <span
      class="absolute block origin-top-right rotate-45 bg-black object-cover"
      style="right: -2px; top: 48px; width: 70.7107px; height: 2px;"></span><img
      src="/imgs/head-shots/6.jpg"
      alt="Testimonial image for Jeremy, CEO at COMPANY"
      class="mb-4 h-14 w-12 bg-neutral-600 object-cover object-top"
      style="box-shadow: white 3px 3px 0px;"
    /><h3 class="text-base sm:text-xl text-black">
      "SO SO SO HAPPY WE FOUND YOU GUYS!!!! I'd bet you've saved me 100 hours so
      far."
    </h3><p
      class="absolute bottom-8 left-8 right-8 mt-2 text-sm italic text-neutral-700"
    >
      - Jeremy, CEO at COMPANY
    </p>
  </div><div
    class="absolute left-1/2 top-1/2 cursor-pointer border-black p-8 text-black transition-colors duration-500 z-10 bg-indigo-600"
    style="border-width: 2px; clip-path: polygon(50px 0%, calc(100% - 50px) 0%, 100% 50px, 100% 100%, calc(100% - 50px) 100%, 50px 100%, 0px 100%, 0px 0px); width: 365px; height: 365px; box-shadow: black 0px 8px 0px 4px; transform: translateX(calc(-50% + 0px)) translateY(calc(-50% - 65px)) rotate(0deg) translateZ(0px);"
  >
    <span
      class="absolute block origin-top-right rotate-45 bg-black object-cover"
      style="right: -2px; top: 48px; width: 70.7107px; height: 2px;"></span><img
      src="/imgs/head-shots/7.jpg"
      alt="Testimonial image for Pam, CEO at COMPANY"
      class="mb-4 h-14 w-12 bg-neutral-600 object-cover object-top"
      style="box-shadow: white 3px 3px 0px;"
    /><h3 class="text-base sm:text-xl text-white">
      "Took some convincing, but now that we're on COMPANY, we're never going
      back."
    </h3><p
      class="absolute bottom-8 left-8 right-8 mt-2 text-sm italic text-indigo-200"
    >
      - Pam, CEO at COMPANY
    </p>
  </div><div
    class="absolute left-1/2 top-1/2 cursor-pointer border-black p-8 text-black transition-colors duration-500 z-0 bg-white"
    style="border-width: 2px; clip-path: polygon(50px 0%, calc(100% - 50px) 0%, 100% 50px, 100% 100%, calc(100% - 50px) 100%, 50px 100%, 0px 100%, 0px 0px); width: 365px; height: 365px; box-shadow: black 0px 0px 0px 0px; transform: translateX(calc(-50% + 243.333px)) translateY(calc(-50% + 15px)) rotate(2.5deg) translateZ(0px);"
  >
    <span
      class="absolute block origin-top-right rotate-45 bg-black object-cover"
      style="right: -2px; top: 48px; width: 70.7107px; height: 2px;"></span><img
      src="/imgs/head-shots/8.jpg"
      alt="Testimonial image for Daniel, CEO at COMPANY"
      class="mb-4 h-14 w-12 bg-neutral-600 object-cover object-top"
      style="box-shadow: white 3px 3px 0px;"
    /><h3 class="text-base sm:text-xl text-black">
      "I would be lost without COMPANY's in depth analytics. The ROI is EASILY
      100X for us."
    </h3><p
      class="absolute bottom-8 left-8 right-8 mt-2 text-sm italic text-neutral-700"
    >
      - Daniel, CEO at COMPANY
    </p>
  </div><div
    class="absolute left-1/2 top-1/2 cursor-pointer border-black p-8 text-black transition-colors duration-500 z-0 bg-white"
    style="border-width: 2px; clip-path: polygon(50px 0%, calc(100% - 50px) 0%, 100% 50px, 100% 100%, calc(100% - 50px) 100%, 50px 100%, 0px 100%, 0px 0px); width: 365px; height: 365px; box-shadow: black 0px 0px 0px 0px; transform: translateX(calc(-50% + 486.667px)) translateY(calc(-50% - 15px)) rotate(-2.5deg) translateZ(0px);"
  >
    <span
      class="absolute block origin-top-right rotate-45 bg-black object-cover"
      style="right: -2px; top: 48px; width: 70.7107px; height: 2px;"></span><img
      src="/imgs/head-shots/9.jpg"
      alt="Testimonial image for Fernando, CEO at COMPANY"
      class="mb-4 h-14 w-12 bg-neutral-600 object-cover object-top"
      style="box-shadow: white 3px 3px 0px;"
    /><h3 class="text-base sm:text-xl text-black">
      "It's just the best. Period."
    </h3><p
      class="absolute bottom-8 left-8 right-8 mt-2 text-sm italic text-neutral-700"
    >
      - Fernando, CEO at COMPANY
    </p>
  </div><div
    class="absolute left-1/2 top-1/2 cursor-pointer border-black p-8 text-black transition-colors duration-500 z-0 bg-white"
    style="border-width: 2px; clip-path: polygon(50px 0%, calc(100% - 50px) 0%, 100% 50px, 100% 100%, calc(100% - 50px) 100%, 50px 100%, 0px 100%, 0px 0px); width: 365px; height: 365px; box-shadow: black 0px 0px 0px 0px; transform: translateX(calc(-50% + 730px)) translateY(calc(-50% + 15px)) rotate(2.5deg) translateZ(0px);"
  >
    <span
      class="absolute block origin-top-right rotate-45 bg-black object-cover"
      style="right: -2px; top: 48px; width: 70.7107px; height: 2px;"></span><img
      src="/imgs/head-shots/10.jpg"
      alt="Testimonial image for Andy, CEO at COMPANY"
      class="mb-4 h-14 w-12 bg-neutral-600 object-cover object-top"
      style="box-shadow: white 3px 3px 0px;"
    /><h3 class="text-base sm:text-xl text-black">
      "I switched 5 years ago and never looked back."
    </h3><p
      class="absolute bottom-8 left-8 right-8 mt-2 text-sm italic text-neutral-700"
    >
      - Andy, CEO at COMPANY
    </p>
  </div><div
    class="absolute left-1/2 top-1/2 cursor-pointer border-black p-8 text-black transition-colors duration-500 z-0 bg-white"
    style="border-width: 2px; clip-path: polygon(50px 0%, calc(100% - 50px) 0%, 100% 50px, 100% 100%, calc(100% - 50px) 100%, 50px 100%, 0px 100%, 0px 0px); width: 365px; height: 365px; box-shadow: black 0px 0px 0px 0px; transform: translateX(calc(-50% + 973.333px)) translateY(calc(-50% - 15px)) rotate(-2.5deg) translateZ(0px);"
  >
    <span
      class="absolute block origin-top-right rotate-45 bg-black object-cover"
      style="right: -2px; top: 48px; width: 70.7107px; height: 2px;"></span><img
      src="/imgs/head-shots/11.jpg"
      alt="Testimonial image for Pete, CEO at COMPANY"
      class="mb-4 h-14 w-12 bg-neutral-600 object-cover object-top"
      style="box-shadow: white 3px 3px 0px;"
    /><h3 class="text-base sm:text-xl text-black">
      "I've been searching for a solution like COMPANY for YEARS. So glad I
      finally found one!"
    </h3><p
      class="absolute bottom-8 left-8 right-8 mt-2 text-sm italic text-neutral-700"
    >
      - Pete, CEO at COMPANY
    </p>
  </div><div
    class="absolute left-1/2 top-1/2 cursor-pointer border-black p-8 text-black transition-colors duration-500 z-0 bg-white"
    style="border-width: 2px; clip-path: polygon(50px 0%, calc(100% - 50px) 0%, 100% 50px, 100% 100%, calc(100% - 50px) 100%, 50px 100%, 0px 100%, 0px 0px); width: 365px; height: 365px; box-shadow: black 0px 0px 0px 0px; transform: translateX(calc(-50% + 1216.67px)) translateY(calc(-50% + 15px)) rotate(2.5deg) translateZ(0px);"
  >
    <span
      class="absolute block origin-top-right rotate-45 bg-black object-cover"
      style="right: -2px; top: 48px; width: 70.7107px; height: 2px;"></span><img
      src="/imgs/head-shots/12.jpg"
      alt="Testimonial image for Marina, CEO at COMPANY"
      class="mb-4 h-14 w-12 bg-neutral-600 object-cover object-top"
      style="box-shadow: white 3px 3px 0px;"
    /><h3 class="text-base sm:text-xl text-black">
      "It's so simple and intuitive, we got the team up to speed in 10 minutes."
    </h3><p
      class="absolute bottom-8 left-8 right-8 mt-2 text-sm italic text-neutral-700"
    >
      - Marina, CEO at COMPANY
    </p>
  </div><div class="absolute bottom-4 left-1/2 flex -translate-x-1/2 gap-8">
    <button
      class="grid h-14 w-14 place-content-center text-3xl transition-colors hover:bg-black hover:text-white"
      ><svg
        stroke="currentColor"
        fill="currentColor"
        stroke-width="0"
        viewBox="0 0 24 24"
        height="1em"
        width="1em"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M10.78 19.03a.75.75 0 0 1-1.06 0l-6.25-6.25a.75.75 0 0 1 0-1.06l6.25-6.25a.749.749 0 0 1 1.275.326.749.749 0 0 1-.215.734L5.81 11.5h14.44a.75.75 0 0 1 0 1.5H5.81l4.97 4.97a.75.75 0 0 1 0 1.06Z"
        ></path></svg
      ></button
    ><button
      class="grid h-14 w-14 place-content-center text-3xl transition-colors hover:bg-black hover:text-white"
      ><svg
        stroke="currentColor"
        fill="currentColor"
        stroke-width="0"
        viewBox="0 0 24 24"
        height="1em"
        width="1em"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M13.22 19.03a.75.75 0 0 1 0-1.06L18.19 13H3.75a.75.75 0 0 1 0-1.5h14.44l-4.97-4.97a.749.749 0 0 1 .326-1.275.749.749 0 0 1 .734.215l6.25 6.25a.75.75 0 0 1 0 1.06l-6.25 6.25a.75.75 0 0 1-1.06 0Z"
        ></path></svg
      ></button>
  </div>
</div>
