---
import ProjectCard from "../../components/ProjectCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import projects from "../../data/projects.json";
---

<BaseLayout title="Husnul Aman | Projects">
  <div class="container px-5 md:px-0 py-16 space-y-10">
    <div class="space-y-3">
      <h1 class="heading font-black text-4xl text-[var(--clr-fg-dark)]" data-aos="fade-right">
        Projects
      </h1>
      <p class="text-[var(--clr-fg-medium)]" data-aos="fade-right" data-aos-delay="100">
        Step into my project showcase! Here, I bring ideas to life through web
        and mobile development. Explore innovative solutions, creative builds,
        and hands-on projects that reflect my passion for coding and
        problem-solving. Inspiration starts here!
      </p>
    </div>
    <ul class="grid gap-5 md:grid-cols-3">
      {
        projects.map((project, index) => (
          <li
            class="even:bg-slate-200"
            data-aos="fade-right"
            data-aos-delay={(index + 1) * 10}
          >
            <ProjectCard data={project} showImage />
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
